@import "../../styles/index.scss";

.c-tag {
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--medium-dark);
	color: var(--light);
	width: 80px;
	padding: 5px;
	border-radius: 5px;
	&:hover {
		box-shadow: var(--box-shadow-soft);
		p {
			transform: scale(1.1);
			color: var(--light);
			opacity: 0.5;
		}
	}
}

.c-tag--today {
	@include text_style(p, var(--contrast));
}
.c-tag--soon {
	@include text_style(p, var(--complementary));
}
.c-tag--tomorrow {
	@include text_style(p, var(--primary-hover));
}
.c-tag--yesterday {
	@include text_style(p, var(--alert));
}
