@import "../../styles/index.scss";
@import "../../styles/tools/mixins.scss";

.form {
	gap: 10px;
	width: 100%;
	/*padding: 0 10px;*/
	font-family: var(--font-raleway);
	font-size: var(--font-size-s);
	cursor: pointer;
}

.c-task {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: max-content;
	padding: 5px;
	gap: 15px;
	color: white;
	border-radius: 10px;
	transition: hover 1s;
	margin: 10px 0;
	border: 1px solid var(--medium-dark);
	&:hover {
		border-radius: 5px;
		border: 1px solid var(--dark-blue-light);
		cursor: pointer;
	}
}

.task__btn {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--medium-dark);
	@include text_style(p, var(--light));
	border: 1px solid transparent;
	box-shadow: var(--border-neu-left);
	cursor: pointer;
	@include neumorphism_A;
	&:active {
		@include neumorphism_B;
	}
}
.task__btn--update {
	color: var(--complementary-hover);
}
.task__btn--delete {
	color: var(--alert);
}
.task__title {
	@include text_style(p, var(--light));
	width: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*--- Task list ---*/

.no-tasks__message {
	text-align: center;
	@include text_style(h3, var(--light));
}

.tasks {
	height: 175px;
	width: 100%;
}

.c-taskList {
	grid-area: tasks;
	display: flex;
	flex-flow: column;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	border-radius: 15px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 270px;
	padding: 10px 0;
	margin: 10px auto;
	/*@include glass_effect;*/
}

.c-btns {
	width: 85px;
	height: 40px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--dark);
	border-radius: 5px;
}

/*--- Details provisional ---*/
.details {
	width: 100px;
	height: 100px;
	background: red;
}

// gradient_border-animation - custom property
@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}
