@import "../../styles/index.scss";

.form {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0 10px;
	font-family: var(--font-raleway);
	font-size: var(--font-size-s);
}

.c-task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: max-content;
	min-width: 300px;
	max-width: 500px;
	padding: 10px;
	gap: 15px;
	color: white;
	border-bottom: 2px solid var(--medium-dark);
	border-radius: 10px;
	transition: hover 1s;
	&:hover {
		@include gradient_border-animation;
		cursor: pointer;
	}
}

.task__btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--medium-dark);
	@include text_style(p, var(--light));
	border: 1px solid transparent;
	box-shadow: var(--border-neu-left);
	cursor: pointer;
}
.task__btn--update {
	color: var(--complementary-hover);
}
.task__btn--delete {
	color: var(--alert);
}
.task__title {
	flex-grow: 3;
}

// gradient_border-animation - custom property
@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}
