@import "../../styles/tools/mixins.scss";

.c-cards {
	grid-area: cards;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: 300px;
	height: 150px;
	margin: 20px 0;
}

.card {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	gap: 5px;
	border-radius: 15px;
}

.progress-card {
	justify-content: center;
	display: flex;
	width: 55%;
	min-width: 150px;
	height: 100%;
	padding: 10px;
	border: 1px solid var(--complementary);
}
.progress-card p:nth-child(1),
.progress-card p:nth-child(3) {
	width: 100%;
	@include font_color--gradient(gradient_blue);
	@include text_style(h3, var(--light));
}
.progress-card p:nth-child(1) {
	text-align: left;
}
.progress-card p:nth-child(2) {
	@include text_style(h1, var(--light));
	font-size: 60px;
	font-weight: 600;
	text-align: center;
}
.progress-card p:nth-child(3) {
	text-align: right;
}

.goals-card {
	border: 1px solid var(--secundary-hover);
	min-width: 100px;
	width: 40%;
	height: 100%;
}

.c-btn {
	display: flex;
	column-gap: 5px;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.label-btn {
	width: 90%;
}

.btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
