/*--- general modal ---*/
@import "../../styles/tools/mixins.scss";

.c-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 550px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include glass_effect;
}

.c-modal-content {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.close-modal-btn {
	position: absolute;
	top: 20px;
	right: 25px;
	width: 30px;
	height: 30px;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid transparent;
	outline: none;
}
.close-modal-btn > svg {
	color: var(--light);
}
.close-modal-btn > svg:hover {
	color: var(--complementary-hover);
}

.duration-message {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	@include text_style(h3, var(--light));
}

/*--- create modal ---*/
.c-form {
	width: 100%;
	height: 27vh;
	gap: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: var(--font-raleway);
}

.c-input {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	width: 100%;
}

.label {
	width: 100%;
	max-width: 100px;
}
.input {
	@include text_style(p, var(--light));
	background: transparent;
	border: none;
	border-bottom: 2px solid var(--complementary-hover);
	width: 90%;
	height: 45px;
	padding: 0 10px;
	border-radius: 3px;
	color: var(--complementary-hover);
}

/*--- Details Modal ---*/
.c-details {
	color: white;
	font-family: var(--font-raleway);
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-content: center;
	gap: 10px;
}
.issue-title {
	width: 100%;
	text-align: center;
	color: var(--dark-blue);
}
.issue-title-task {
	text-align: center;
	color: var(--complementary);
	font-size: 2rem;
}
.sub-title {
	text-align: center;
	width: 100%;
}
.start-date {
	text-align: center;
	width: 100%;
}
.days {
	text-align: center;
	width: 100%;
	color: var(--contrast);
}
.paragraph {
	width: 100%;
	height: 100%;
	max-height: 120px;
	margin: 10px;
	border: 2px solid var(--dark-blue);
	box-shadow: var(--box-shadow-soft);
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*--- Modal Buttons ---*/
.c-btns {
	width: 120px;
	height: 60px;
	background: var(--dark);
	box-shadow: var(--box-shadow-soft);
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
	margin: 20px 0;
}
.btn {
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 1px solid transparent;
	color: var(--light);
	@include neumorphism_A;
	&:active {
		@include neumorphism_B;
		color: var(--light);
	}
}
.btn-create {
	color: var(--complementary-hover);
}
.btn-clear {
	color: var(--contrast);
}

/*--- Show all issues MODAL ---*/
.c-showGoals {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column;
	width: 380px;
	height: 500px;
	color: var(--light);
	/*border: 1px solid red*/
}
