/*--- general modal ---*/
@import "../../styles/tools/mixins.scss";

.c-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
}

.c-modal-content {
	width: 90%;
	max-width: 750px;
	height: 35vh;
	margin: 0 auto;
	@include glass_effect;
}

.close-modal-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid transparent;
	// border: 1px solid var(--complementary);
	outline: none;
}
.close-modal-btn > svg {
	color: var(--light);
}
.close-modal-btn > svg:hover {
	color: var(--complementary-hover);
}

@media (min-width: 500px) {
	.c-modal-content {
		width: 60%;
		height: 75vh;
	}
}
@media (min-width: 900px) {
	.c-modal-content {
		width: 60%;
		height: 75vh;
	}
}
@media (min-width: 1200px) {
	.c-modal-content {
		width: 60%;
		height: 75vh;
	}
}

/*--- create modal ---*/
.c-form {
	width: 100%;
	height: 100%;
	padding: 30px 15px 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: var(--font-raleway);
}

.c-input {
	display: flex;
	flex-flow: nowrap;
	width: 100%;
}

.label {
	width: 100%;
	max-width: 100px;
}
.input {
	width: 100%;
}
