:root {
	--primary: #460273;
	--primary-hover: #9753f7;
	--secundary: #1b0140;
	--secundary-hover: #4703a6;
	--complementary: #0654b9;
	--complementary-hover: #0388a6;
	--dark-blue: #1a165f;
	--light-dark: rgba(255, 255, 255, 0.25);
	--dark: #181818;
	--medium-dark: #282828;
	--light: #eee5ff;
	--medium-light: #9e9d9e;
	--alert: #ff3333;
	--contrast: #d971c7;

	--box-shadow-soft: 0px 0px 10px 2px rgb(91, 90, 92);
	--box-shadow-hard: 0px 0px 10px 2px rgba(238, 229, 255, 1);

	--text-shadow: 0px 0px 15px rgba(238, 229, 255, 1);
	--font-size-xs: 0.8rem;
	--font-size-s: 1rem;
	--font-size-m: 2rem;
	--font-size-l: 3rem;
	--font-size-xl: 7rem;

	--font-roboto: "Roboto", sans-serif;
	--font-raleway: "Raleway", sans-serif;

	--blue-gradient: linear-gradient(
		133deg,
		rgba(2, 51, 115, 1) 0%,
		rgba(3, 136, 166, 1) 50%,
		rgba(238, 229, 255, 1) 90%
	);
	--purple-gradient: linear-gradient(
		140deg,
		rgba(13, 1, 38, 1) 30%,
		rgba(2, 51, 115, 1) 70%,
		rgba(235, 140, 218, 1) 90%
	);

	--text-shadow: 0px 0px 15px var(--light);

	--border-neu-left: 20px 20px 60px var(--dark),
		-20px -20px 60px var(--medium-dark);
	--border-neu-right: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
}
