@mixin gradient_border($gradient_color_1, $gradient_color_2) {
	background-image: radial-gradient(
			circle at 100% 100%,
			transparent 30px,
			$gradient_color_1 30px,
			$gradient_color_1 32px,
			transparent 32px
		),
		linear-gradient(to right, $gradient_color_1, $gradient_color_2),
		radial-gradient(
			circle at 0% 100%,
			transparent 30px,
			$gradient_color_2 30px,
			$gradient_color_2 32px,
			transparent 32px
		),
		linear-gradient(to bottom, $gradient_color_2, $gradient_color_2),
		radial-gradient(
			circle at 0% 0%,
			transparent 30px,
			$gradient_color_2 30px,
			$gradient_color_2 32px,
			transparent 32px
		),
		linear-gradient(to left, $gradient_color_2, $gradient_color_1),
		radial-gradient(
			circle at 100% 0%,
			transparent 30px,
			$gradient_color_1 30px,
			$gradient_color_1 32px,
			transparent 32px
		),
		linear-gradient(to top, $gradient_color_1, $gradient_color_1);
	/*
		
		*/
	background-position: top left, top center, top right, center right,
		bottom right, bottom center, bottom left, center left;
	background-size: 32px 32px, calc(100% - 64px) 2px, 32px 32px,
		2px calc(100% - 64px);

	background-repeat: no-repeat;
}
@mixin gradient_border-animation {
	--border-size: 1px;
	background-image: conic-gradient(
			from var(--border-angle),
			var(--dark),
			var(--dark) 50%,
			var(--dark)
		),
		conic-gradient(
			from var(--border-angle),
			transparent 10%,
			rgba(13, 1, 38, 1),
			rgba(2, 51, 115, 1),
			rgba(238, 229, 255, 0.8),
			rgba(13, 1, 38, 1)
		);
	background-size: calc(100% - (var(--border-size) * 2))
			calc(100% - (var(--border-size) * 2)),
		cover;
	background-position: center center;
	background-repeat: no-repeat;
	animation: bg-spin 5s linear infinite;
	transition: hover 400ms;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}
}

@mixin neumorphism_A() {
	background: linear-gradient(145deg, #1a1a1a, #161616);
	box-shadow: 4px 4px 9px #0a0a0a, -4px -4px 9px #262626;
}
@mixin neumorphism_B() {
	background: #181818;
	box-shadow: inset 4px 4px 9px #0a0a0a, inset -4px -4px 9px #262626;
}

@mixin glass_effect() {
	background: rgba(2, 6, 8, 0.65);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-radius: 10px;
	border: 1px solid rgba(105, 188, 255, 0.125);
}

@mixin tag_selector($color) {
	background: var(--medium-dark);
	width: max-content;
	color: $color;
	padding: 5px 10px;
	font-family: var(--font-raleway);
	border-radius: 5px;
}

@mixin text_style($size, $color) {
	font-family: var(--font-raleway);
	color: $color;
	@if $size == h1 {
		font-size: var(--font-size-l);
		font-weight: 400;
	} @else if $size == h2 {
		font-size: var(--font-size-m);
	} @else if $size == h3 {
		font-size: var(--font-size-s);
		font-weight: 400;
	} @else if $size == p {
		font-size: var(--font-size-xs);
		font-weight: 400;
	}
}
@mixin font_color--gradient($gradient) {
	font-family: var(--font-roboto);
	text-shadow: var(--text-shadow);
	font-size: max(12px, min(var(--font-size-xl), 27vw));
	@if $gradient == gradient_purple {
		color: var(--primary);
		background: var(--purple-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	} @else if $gradient == gradient_blue {
		color: var(--complementary);
		background: var(--blue-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@mixin shiny_border($color){
	transition: box-shadow 350ms;
	border: 3px double $color;
	box-shadow: var(--box-shadow-soft);
	&:hover {
		box-shadow: var(--box-shadow-hard);
	}
}


/*Colapsar menu CTRL + k + 0*/