@mixin glass_effect() {
	background: var(--glass-blue);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin font_color--gradient($gradient) {
	font-family: var(--font-roboto);
	text-shadow: var(--text-shadow);
	font-size: max(12px, min(var(--font-size-xl), 27vw));
	@if $gradient == gradient_purple {
		color: var(--primary);
		background: var(--purple-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	} @else if $gradient == gradient_blue {
		color: var(--complementary);
		background: var(--blue-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@mixin tag_selector($color) {
	background: var(--medium-dark);
	width: max-content;
	color: $color;
	padding: 5px 10px;
	font-family: var(--font-raleway);
	border-radius: 5px;
}

@mixin text_style($size, $color) {
	font-family: var(--font-raleway);
	color: $color;
	@if $size == h1 {
		font-size: var(--font-size-l);
		font-weight: 400;
	} @else if $size == h2 {
		font-size: var(--font-size-m);
	} @else if $size == h3 {
		font-size: var(--font-size-s);
		font-weight: 400;
	} @else if $size == p {
		font-size: var(--font-size-xs);
		font-weight: 400;
	}
}

@mixin gradient_border-animation {
	--border-size: 1px;
	background-image: conic-gradient(
			from var(--border-angle),
			var(--dark),
			var(--dark) 50%,
			var(--dark)
		),
		conic-gradient(
			from var(--border-angle),
			transparent 10%,
			rgba(13, 1, 38, 1),
			rgba(2, 51, 115, 1),
			rgba(238, 229, 255, 0.8),
			rgba(13, 1, 38, 1)
		);
	background-size: calc(100% - (var(--border-size) * 2))
			calc(100% - (var(--border-size) * 2)),
		cover;
	background-position: center center;
	background-repeat: no-repeat;
	animation: bg-spin 5s linear infinite;
	transition: hover 400ms;
	@keyframes bg-spin {
		to {
			--border-angle: 1turn;
		}
	}
}

/*
.main-title {
	@include text_style(h1, var(--light));
}
.sub-title {
	@include text_style(h2, var(--light));
}
.text-bold {
	@include text_style(h3, var(--light));
}
.paragraph {
	@include text_style(p, var(--light));
}
.tag-selector {
	@include tag_selector(var(--alert));
}
*/
