@import "../../styles/tools/mixins";

.c-main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.c-welcome {
	width: 100%;
	max-width: 500px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	> p {
		@include gradient_font_color(gradient_blue);
	}
}
